@use 'styles/typography';

.container {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 100%;
  list-style: none;
  background-color: var(--color-neutral-lightest);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
}

.imageWrapper {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    .image {
      opacity: 80%;
      transform: scale(1.05);
    }

    .playbackIcon {
      opacity: 100%;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: transform 0.125s ease-in-out;
}

.playbackIconWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
}

.playbackIcon {
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  // important flag used to override material-icons global styles due to how next js handles css in production
  font-size: 6rem !important;
  opacity: 0;
  pointer-events: none;
}

.trackName {
  @include typography.cardMain(var(--color-text-dark-high-emphasis));
  margin: 0;
}

.artistName {
  @include typography.cardSub(var(--color-text-dark-low-emphasis));
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}