@use 'styles/discreet-elements';

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.header {
  position: fixed;
  z-index: 100;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: var(--color-neutral-lightest);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.iconButton {
  @extend %discreet-button;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pageTitle {
  margin: 0;
  text-align: center;
}

.sidebar {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding-top: 3.25rem;
  width: calc(100% - 3rem);
  height: 1px;
  min-height: 100%;
  background-color: var(--color-neutral-lightest);
  box-shadow: 0.25rem 0 0.25rem 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease;
  transform: translateX(calc(-100% - 0.5rem));

  @media screen and (min-width: 375px) {
    width: 20rem;
  }

  &.isOpen {
    transform: translateX(0);
  }
}

.sidebarLink {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 3rem;
  border-bottom: solid 0.0625rem var(--color-text-dark-disabled);
  border-right: solid 0rem var(--color-base);
  color: var(--color-text-dark-low-emphasis);
  text-decoration: none;
  transition: border-right 0.25s;
  
  &:hover {
    border-right-width: 0.5rem;
    color: var(--color-text-dark-high-emphasis);
  }

  &:first-of-type {
    border-top: solid 0.0625rem var(--color-text-dark-disabled);
  }
}

.sidebarLinkName {
  font-size: 1rem;
  font-weight: 600;
}

.profileContainer {
  text-align: center;
  padding: 1rem;
}

.profilePicture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--color-neutral);
  overflow: hidden;
}

.profileName {
  color: var(--color-text-dark-high-emphasis);
  font-weight: 700;
}

.signInMessage {
  font-size: 1rem;
  color: var(--color-text-dark-high-emphasis);
}

.signInText {
  font-size: 1rem;
}

.signInLink {
  color: var(--color-base-dark);
}

.signOutText {
  font-size: 0.75rem;
}

.signOutLink {
  color: var(--color-base-dark);
}

.main {
  padding-top: 3.25rem;
}

.footer {
  background-color: #333;
  color: white;
}

.pageFade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;

  &.isActive {
    opacity: 1;
    pointer-events: auto;
  }
}