@use './normalize';
@use './colors';

:root {
  --color-neutral-darkest: #{ colors.$neutral-darkest };
  --color-neutral-darker: #{ colors.$neutral-darker };
  --color-neutral-dark: #{ colors.$neutral-dark };
  --color-neutral: #{ colors.$neutral };
  --color-neutral-light: #{ colors.$neutral-light };
  --color-neutral-lighter: #{ colors.$neutral-lighter };
  --color-neutral-lightest: #{ colors.$neutral-lightest };
  --color-base: #{ colors.$base };
  --color-base-light: #{ colors.$base-light };
  --color-base-dark: #{ colors.$base-dark };
  --color-accent: #{ colors.$accent };
  --color-accent-light: #{ colors.$accent-light };
  --color-accent-dark: #{ colors.$accent-dark };
  --color-text-dark-contrast: #{ colors.$text-dark-contrast };
  --color-text-dark-high-emphasis: #{ colors.$text-dark-high-emphasis };
  --color-text-dark-low-emphasis: #{ colors.$text-dark-low-emphasis };
  --color-text-dark-disabled: #{ colors.$text-dark-disabled };
  --color-text-light-contrast: #{ colors.$text-light-contrast };
  --color-text-light-high-emphasis: #{ colors.$text-light-high-emphasis };
  --color-text-light-low-emphasis: #{ colors.$text-light-low-emphasis };
  --color-text-light-disabled: #{ colors.$text-light-disabled };
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}