@use './typography';

.container {
  display: grid;
  place-content: center;
  height: 100%;
}

.textContainer {
  text-align: center;
  width: 25rem;
}

.headphonesEmoji {
  font-size: 12rem;
}

.heading {
  @include typography.title(var(--color-text-contrast));
  margin: 1rem 0;
}

.paragraph {
  @include typography.paragraph(var(--color-text-dark-high-emphasis));
  margin: 0.5rem 0;
}

.italic {
  font-style: italic;
}