@use './typography';

.container {
  display: grid;
  place-content: center;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
}

.textContainer {
  text-align: center;
  width: 25rem;
}

.headphonesEmoji {
  font-size: 12rem;
}

.heading {
  @include typography.title(var(--color-text-contrast));
  margin: 1rem 0;
}

.paragraph {
  @include typography.paragraph(var(--color-text-dark-high-emphasis));
  margin: 0.5rem 0;
}

.note {
  @include typography.note(var(--color-text-dark-low-emphasis));
  margin: 0.5rem 0;
}

.noteLink {
  @include typography.note(var(--color-base));
}

.buttonLink {
  display: inline-grid;
  place-content: center;
  border: solid 0.125rem var(--color-base);
  margin: 0.5rem 0;
  padding: 0 3rem;
  height: 3rem;
  width: auto;
  border-radius: 1.5rem;
  color: var(--color-text-dark-contrast);
  font-weight: bold;
  text-decoration: none;
}

.italic {
  font-style: italic;
}